<ul class="booknav-tree"><%
var keys = Object.keys(tree);
for (var i = 0; i < tree.length; i++) { // in tree) {
    var item = tree[i];
    if (item.type === 'doc') {
        %><li>
            <a href="<%= urlForDoc(item) %>"><%= item.title %></a>
            <% if (item.teaser) { %><%= item.teaser %><% } %>
        </li><%
    } else {
        %><li>
            <%
            var url = urlForDir(item);
            if (url !== "undefined") {
                %><a href="<%= url %>"><%= nameForDir(item) %></a><%
                if (item.teaser) { %><%= item.teaser %><% }
            } %>
            <%- renderSubTree(item) %>
        </li><%
    } %>
<% } %></ul>
