<ul class="booknav-tree"><%
for (var i = 0; i < tree.entries.length; i++) { // in tree) {
    var item = tree.entries[i];
    // console.log('booknav-child-tree '+ item.type +' '+ item.name);
    if (item.type === 'file' && item.rendername !== 'index.html') {
        %><li>
            <a href="<%= urlForDoc(item) %>"><%= item.title %></a>
            <% if (item.teaser) { %><%= item.teaser %><% } %>
        </li><%
    } else if (item.type === 'dir') {
        %><li>
            <%
            var url = urlForDir(item);
            if (url !== "undefined") {
                %><a href="<%= url %>"><%= item.title ? item.title : url %></a><%
                if (item.teaser) { %><%= item.teaser %><% }
            } %>
            <%- renderSubTree(item) %>
        </li><%
    } %>
<% } %></ul>
