<ul class="booknav-tree"><% for (var i in tree) {
    if (tree[i].type === 'doc') {
        %><li>
            <a href="<%= urlForDoc(tree[i]) %>"><%= tree[i].title %></a>
            <% if (tree[i].teaser) { %><%= tree[i].teaser %><% } %>
        </li><%
    } else {
        %><li>
            <a href="<%= urlForDir(tree[i]) %>"><%= nameForDir(tree[i]) %></a>
            <% if (tree[i].teaser) { %><%= tree[i].teaser %><% } %>
            <%- renderSubTree(tree[i]) %>
        </li><%
    } %>
<% } %></ul>
